@model IEnumerable<Shopping.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
    <div class="container-fluid">
        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentTypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShipName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShipAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShipPhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdateAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeleteAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentTypeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdateAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeleteAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.OrderId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.OrderId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
                    </td>
                </tr>
            }

        </table>
        </div>